<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<welcome-file-list>
<welcome-file>Homepage</welcome-file>
</welcome-file-list>

   <servlet>
    <servlet-name>ListadoUsuarios</servlet-name>
    <servlet-class>
        servlet.ListadoUsuarios
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuarios</servlet-name>
    <url-pattern>/ListadoUsuarios.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListadoUsuariosDisplay</servlet-name>
    <servlet-class>
        servlet.ListadoUsuariosDisplay
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuariosDisplay</servlet-name>
    <url-pattern>/ListadoUsuariosDisplay.do</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>ListadoDesarrolladores</servlet-name>
    <servlet-class>
        servlet.ListadoDesarrrolladores
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoDesarrolladores</servlet-name>
    <url-pattern>/ListadoDesarrolladores.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListadoDesarrolladoresDisplay</servlet-name>
    <servlet-class>
        servlet.ListadoDesarrolladoresDisplay
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoDesarrolladoresDisplay</servlet-name>
    <url-pattern>/ListadoDesarrolladoresDisplay.do</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>ListadoPublicadores</servlet-name>
    <servlet-class>
        servlet.ListadoPublicadores
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoPublicadores</servlet-name>
    <url-pattern>/ListadoPublicadores.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListadoPublicadoresDisplay</servlet-name>
    <servlet-class>
        servlet.ListadoPublicadoresDisplay
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoPublicadoresDisplay</servlet-name>
    <url-pattern>/ListadoPublicadoresDisplay.do</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>ListadoReembolsoPendiente</servlet-name>
    <servlet-class>
        servlet.ListadoReembolsoPendiente
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoReembolsoPendiente</servlet-name>
    <url-pattern>/ListadoReembolsoPendiente.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListadoReembolsoPendienteDisplay</servlet-name>
    <servlet-class>
        servlet.ListadoReembolsoPendienteDisplay
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoReembolsoPendienteDisplay</servlet-name>
    <url-pattern>/ListadoReembolsoPendienteDisplay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BibliotecaDisplay</servlet-name>
    <servlet-class>
        servlet.BibliotecaDisplay
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BibliotecaDisplay</servlet-name>
    <url-pattern>/BibliotecaDisplay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Biblioteca</servlet-name>
    <servlet-class>
        servlet.Biblioteca
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Biblioteca</servlet-name>
    <url-pattern>/Biblioteca.do</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>ListadoJuegos</servlet-name>
    <servlet-class>
        servlet.ListadoJuegos
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoJuegos</servlet-name>
    <url-pattern>/ListadoJuegos.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListadoJuegosDisplay</servlet-name>
    <servlet-class>
        servlet.ListadoJuegosDisplay
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoJuegosDisplay</servlet-name>
    <url-pattern>/ListadoJuegosDisplay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>
        servlet.Homepage
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/Homepage.do</url-pattern>
  </servlet-mapping> 

  <servlet>
    <servlet-name>BibliotecaHoras</servlet-name>
    <servlet-class>
        servlet.BibliotecaHoras
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BibliotecaHoras</servlet-name>
    <url-pattern>/BibliotecaHoras.do</url-pattern>
  </servlet-mapping>
</web-app>